@page
@model BookTicketModel
@{
    ViewData["Title"] = "BookTicket";
    int count = Model.Schedule.Count;
}



<h1>Movie Schedule</h1>

<form method = "post" asp-action="Pick">
    <h1>Monday</h1>
    @for (int i = 0; i < count; i++)
    {
        @if(@Model.Schedule.ElementAt(i).Day.Equals("Monday"))
        {
        <input type="radio" name="Movie" value="@i" checked>@Model.Schedule.ElementAt(i).ToString()<br>
        }
    }
    <br>
    <h1>Tuesday</h1>
    @for (int i = 0; i < count; i++)
    {
        @if(@Model.Schedule.ElementAt(i).Day.Equals("Tuesday"))
        {
        <input type="radio" name="Movie" value="@i" checked>@Model.Schedule.ElementAt(i).ToString()<br>
        }
    }
    <br>
    <h1>Wednesday</h1>
    @for (int i = 0; i < count; i++)
    {
        @if(@Model.Schedule.ElementAt(i).Day.Equals("Wednesday"))
        {
        <input type="radio" name="Movie" value="@i" checked>@Model.Schedule.ElementAt(i).ToString()<br>
        }
    }
    <br>
    <h1>Thursday</h1>
    @for (int i = 0; i < count; i++)
    {
        @if(@Model.Schedule.ElementAt(i).Day.Equals("Thursday"))
        {
        <input type="radio" name="Movie" value="@i" checked>@Model.Schedule.ElementAt(i).ToString()<br>
        }
    }
    <br>
    <h1>Friday</h1>
    @for (int i = 0; i < count; i++)
    {
        @if(@Model.Schedule.ElementAt(i).Day.Equals("Friday"))
        {
        <input type="radio" name="Movie" value="@i" checked>@Model.Schedule.ElementAt(i).ToString()<br>
        }
    }
    <br>
    <h1>Saturday</h1>
    @for (int i = 0; i < count; i++)
    {
        @if(@Model.Schedule.ElementAt(i).Day.Equals("Saturday"))
        {
        <input type="radio" name="Movie" value="@i" checked>@Model.Schedule.ElementAt(i).ToString()<br>
        }
    }
    <br>
    <h1>Sunday</h1>
    @for (int i = 0; i < count; i++)
    {
        @if(@Model.Schedule.ElementAt(i).Day.Equals("Sunday"))
        {
        <input type="radio" name="Movie" value="@i" checked>@Model.Schedule.ElementAt(i).ToString()<br>
        }
    }
    
    
     <button type="submit">Choose</button>
</form>